/* import font */
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* remove default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* genral styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
    font-family: "Space Mono", sans-serif;
}

/* heading styles */
h1,
h2,
h3 {
    font-family: "Cal Sans", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}
/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header link styles */
header a {
    text-decoration: none;
    color: inherit;
}
/* main */
main {
    /* main element take up surplus space */
    flex: 1 0 auto;
    margin-top: 41.5px; /* Adjust based on header height */
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}
#cover-text {
    background-color: rgba(255, 0, 0, 0.548);
    font-size: 130%;
    position: absolute;
    bottom: 250px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

/* reasons */

#reasons {
    margin: auto 20px;
    width: 90%;
}

#reasons h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
    margin-bottom: 20px;
}

#reasons div {
    line-height: 20px; /* Improve readability with line height */
    margin-bottom: 20px; /* Space between paragraphs */
}

#reasons div p {
    margin-bottom: 10px; /* Space between paragraphs */
    padding: 0 20px; /* Padding for better text alignment */
}

#reasons div hr {
    border-top: 1px solid #3a3a3a; /* Custom horizontal line */
    margin: 0 5px 20px 5px; /* Spacing around the line */
}

#cover-text h2,
#cover-text h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

/* navigation menu styles */
#menu {
    font-size: 1.1rem;
    letter-spacing: 1px;
    list-style: none; /* Remove bullet points */
    padding-left: 0; /* Remove default left padding */
}

#menu li {
    margin-bottom: 0.5rem; /* Space between list items */
    margin-right: 1rem; /* Space between list items horizontally */
}

.active {
    border-bottom: 1px solid #222222;
    padding-bottom: 0%;
}

/* nav bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    top: 100%; /* Position below header */
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px -2px #3a3a3a; /* Correct box-shadow for bottom only */
    display: none; /* Hide nav by default */
}
/* nav toggle */
#menu-toggle {
    display: none; /* Hide the checkbox */
}
#menu-toggle:checked ~ nav {
    display: block; /* Show nav when checkbox is checked */
}

.menu-icon {
    display: block;
    font-size: 1.5rem;
    color: #3a3a3a;
    position: relative;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    .menu-icon {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 75px;
    }

    /* hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* footer styles */
#social-networks {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

#social-networks i {
    font-size: 1.5rem;
    color: #3a3a3a;
}
