/* remove default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* genral styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
}
/* header */
header {
    background-color: lightcoral;
}
/* main */
main {
    background-color: lightblue;
    /* main element take up surplus space */
    flex: 1 0 auto;
}
/* footer */
footer {
    background-color: orange;
}

/* font styles */
.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}
